<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datastar Merch</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-50">
<header
    class="bg-white shadow-sm"
    data-on-load=" {{ datastar.get('_datastar/update-cart', {action: 'hide'}) }}"
    data-persist="cartIds"
>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
        <div class="flex justify-between items-center">
            {% block header %}
            {% endblock %}
        </div>
    </div>
</header>

<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>